<div class="center jumbotron">
  <h1><%= t("home.welcome") %></h1>
  <h2>
    <%= t "home.railshome" %>
    <%= link_to t("tutorial"), "http://www.railstutorial.org" %>.
  </h2>
  <%= link_to t("signup"), '#', class: "btn btn-lg btn-primary" %>
</div>
